.fondoApp { 
    background-color: #f4f7f6; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tituloPrincipal { 
    font-weight: 800; 
    color: #333; 
    text-transform: uppercase;
}

.inputFiltro {
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    outline: none;
}

.tarjetaPokemon {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
    height: 100%;
}

.tarjetaPokemon:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.contenedorImagenCard {
    background-color: #fdfdfd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.etiquetaTipo {
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: 15px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin: 2px;
    text-transform: uppercase;
}

.iconoTipo {
    width: 12px;
    margin-right: 5px;
    filter: brightness(0) invert(1);
}

/* Colores de Tipos */
.bg-grass { background-color: #7AC74C; }
.bg-fire { background-color: #EE8130; }
.bg-water { background-color: #6390F0; }
.bg-bug { background-color: #A6B91A; }
.bg-normal { background-color: #A8A77A; }
.bg-poison { background-color: #A33EA1; }
.bg-electric { background-color: #F7D02C; color: #333; }
.bg-ground { background-color: #E2BF65; }
.bg-fairy { background-color: #D685AD; }
.bg-fighting { background-color: #C22E28; }
.bg-psychic { background-color: #F95587; }
.bg-rock { background-color: #B6A136; }
.bg-ghost { background-color: #735797; }
.bg-ice { background-color: #96D9D6; color: #333; }
.bg-dragon { background-color: #6F35FC; }
.bg-dark { background-color: #705746; }
.bg-steel { background-color: #B7B7CE; color: #333; }
.bg-flying { background-color: #A98FF3; } 